*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header{
    height: 100px;
    width: 100%;
    background-color: #212121;
    /* padding-top: 40px;
    padding-left: 20px; */
    position: relative;
    display: flex;
}
.header-logo{
    width: 85px;
    height: 55px;
    background-image: url('logo.svg');
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: 20px;
}
.header-navbar
{
    height: 40px;
    padding: 10px;
    width: 100%;
    background-color: #000000;
    
}
.Header-luxeryTab{
    float: left;
    color: #fff;
    font-family: semi-bold;
}
.login-track{
    float: right;
}

.login-track a{
    padding: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.categories{
    float: left;
    /* height: 60px; */
    background-color: blueviolet;
}